<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Cadastro de informações</strong>
    </c-card-header>

    <c-card-body>
      <form cForm class="row g-3">
        <c-col xs="12">
          <label cLabel for="cliente">Cliente</label>
          <div class="space">
            <select aria-label="Default select example" cSelect class="custom-select">
              <option>Selecione o cliente</option>
              <option value="1">Empresa 1</option>
              <option value="2">Empresa 2</option>
              <option value="3">Empresa 3</option>
            </select>
          </div>
        </c-col>
        <c-col xs="12" sm="3">
          <label cLabel for="ano">Ano</label>
          <input cFormControl id="Ano" type="number"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="number" maxlength="4" />
        </c-col>
        <c-col xs="12" sm="3">
          <label cLabel for="receita">Receita</label>
          <input cFormControl id="receita" type="number" />
        </c-col>
        <c-col xs="12" sm="3">
          <label cLabel for="despesas">Despesas</label>
          <input cFormControl id="despesas" type="number">
        </c-col>
        <c-col xs="12" sm="3">
          <label cLabel for="impostos">Impostos</label>
          <input cFormControl id="impostos" type="number">
        </c-col>
        <c-col xs="12">
          <button cButton type="submit" class="btnSalvar">Salvar</button>
          <button cButton type="button" class="btnCancelar">Cancelar</button>
        </c-col>
      </form>
    </c-card-body>
  </c-card>

</c-col>
