<c-card>
  <c-card-body>
    <div class="row">
      <c-col sm="11">
        <div class="space">
          <select aria-label="Default select example" cSelect class="custom-select">
            <option>Selecione o cliente</option>
            <option value="1">Empresa 1</option>
            <option value="2">Empresa 2</option>
            <option value="3">Empresa 3</option>
          </select>
        </div>
      </c-col>
      <c-col sm="1">
        <div class="space">
          <select aria-label="Seleção de cliente" cSelect multiple class="custom-select">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>
      </c-col>
    </div>

    <div class="container">
      <button cButton type="submit" class="buttonSearch">Pesquisar</button>
    </div>

  </c-card-body>
</c-card>


<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Traffic</h4>
        <div class="small text-body-secondary">January - December 2023</div>
      </c-col>

    </c-row>
    <c-chart [data]="mainChart.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }" [options]="mainChart.options"
      [type]="mainChart.type" (chartRef)="handleChartRef($event)">
      Main chart
    </c-chart>
  </c-card-body>
</c-card>

<!-- <app-widgets-brand [withCharts]="true" /> -->
<app-widgets-dropdown />
<br />
