<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Cadastro de clientes</strong>
    </c-card-header>

    <c-card-body>
      <form cForm class="row g-3">
        <c-col xs="12">
          <label cLabel for="inputAddress">Razão Social</label>
          <input cFormControl id="inputAddress" />
        </c-col>
        <c-col xs="12">
          <button cButton type="submit" class="btnSalvar">Salvar</button>
          <button cButton type="button" class="btnCancelar">Cancelar</button>
        </c-col>
      </form>
    </c-card-body>
  </c-card>

</c-col>
